header{
  display: flex;
  justify-content: space-between;
}

header ul{
    display: flex;
    list-style: none;
}

header ul li{
    margin-left: 10px;
}

h5{
    color: blueviolet;
    text-align: center;
}